 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    
     background-color: #eee;
     font-family: 'Open Sans', sans-serif; 
     color: #333;
     font-weight: 400;
     overflow-x: hidden;
     
} 
h1, h2, h3 {
    color: #001E49;
    font-weight: 700; 
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    font-weight: 600;

}



.header-logo {
    display: block;
    flex-direction: column;
    padding: 0%;
    padding: 5px 10px;
    margin: 5px 25px;
    
}
.header-logo  p {
    padding:0  4px;
    font-size: 15px;
    opacity: 75%;
}

#logo1 {
  display: block;
  width: 90px;
  object-fit: contain;
  padding: 2%;
}

.contact-call {
     text-decoration: none;
     display: flex;
     align-items: center;
}

.contact-call a {
  text-decoration: none;
  font-size: 16px;
  color: #0EA5E9;
  opacity: 90%;
}

.contact-call  .fa-solid {
    align-items: center;
    padding: 0;
    color: #0EA5E9;
    font-size: 14px;
    vertical-align: middle;

}
.header-link {
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;

}

.budget {
    padding: 5px;
    width: 200px;
    height: 32px;
    border: none;
    font-size: 16px;
    color: #ffff;
    border-radius:  8px;
    background-color: #0EA5E9;
}

.header-link .fa-whatsapp {
    padding: 4px;
    font-size: 15px;
}

.section-one {
    height: 100vh;
    width: 100%;
    background-color: #001E49;
    display: flex;
    flex-direction: row;
   
} 
.main-presentation {
    width: 50%;
    height: 100%;
    
}

.presentation{
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: auto ;
  margin: 6% 6%;
}

.presentation h1{

    color: #ffff;
    font-size: 2.5rem; 
    margin-left: 6%;
    padding: 5px;
   

}


.presentation h2 {
    color: #0EA5E9;
    font-size: 2.5rem;
    padding:0 6%;
    margin-bottom: 2%;
}

.presentation p {
    color: #ffff;
    opacity: 90%;
    padding:1% 6% 0;
    line-height: 1.5;
}

.presentation h3 {
    color: #ffff;
    opacity: 95%;
    font-size: 15px;
    padding: 1% 3px 6%;

}

.presentation i {
    border-radius: 2px;
    color: #0EA5E9;
    padding: 4%  0;
}

.presentation-image {
   display: flex;
   justify-content: center;
   
  
}

#logo-pag2 {
  
    display: block;
    width: 150%;
     max-width: 600px; 
    margin: 5%;
    border: none;
    border-radius: 10%;
    object-fit: cover;
    padding: 2%;
     
}

.section-two {
  height: 150vh;
  width: 100%;
 
 

}

.about-wrapper{

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto 0px auto;
}
.about-us {
    width: 80%;
    
    
    
}

#img-about-us {
    width: 50px;
    height: 50%;
    object-fit: contain;
    
}

.about-us h1 {
    color: #001E49;
    margin: 2%;
    padding: 3px;
}

.about-us p {
    margin: 2%;
    padding-left: 4%;
    font-size: 1rem;
    color: black;
    line-height: 1.5;
}


.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
   
    
}


#image-concert {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 10px;
    width: 80%;
    height: 50%;
    object-fit: contain;
}
 /*Nossos Serviços*/

.services {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: 100%;
    height: 50%;
  
    
   
}

.services h2 {
    text-align: center;
    color: #001E49;

}

.services-wrapper {
    display: flex;
    justify-content: center; 
    gap: 40px;
    flex-wrap: wrap; 
    margin:14px  0 25px;
    padding: 0 10px; 
    box-sizing: border-box;
}

.services .card {
    width: 320px; 
    min-height: 40px;
    min-width: 150px;
    background-color: #ffffff;

    padding: 35px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden
}

 .services p {
    color: #001E49;
    font-weight: 600;
    font-size: 16px;
    padding: 4px;
    
 }  
 
.services i{
    text-align: center;
    color:  black;
    font-size: 18px;
    padding: 2px;
    
}

.section-four {
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.brands  {
    display: flex;
    list-style: none;
    padding:10px 5px;
    color: #0EA5E9;
    font-weight: 600 ;
    font-size: 1rem;

}

.brands li {
    padding: 2px;
    margin: 2px;
}


.differentials {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;  
    width: 100%; 
    height: 50%;
    padding: 2px;
    padding: 20px 0;
    background-color: #eee;
    
    



}
.differentials  h2{
    display: flex;
    justify-content: center;
    padding: 4px;
    margin: 2px;
    
    
}

.topics-list {
    display: grid;
    list-style: none;
    padding: 20px ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    

}

.topics-list li {
    padding: 26px ;
    gap: 1px;
    display: flex;
    align-items: center;
    text-align: center;
}

.topics-list i {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    background-color:  #0EA5E9;
    width: 30px;
    height: 30px;
    border-radius: 90px;
    margin: 2px;
    align-self: center;
    
}


.concert {
    width: 100%;
    height: 50%;
    background-color: #0EA5E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.concert h2, p, a {
    padding: 7px;
    color: #FAFAFA;

} 

.concert button {
    padding: 5px;
    width: 250px;
    height: 32px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #0EA5E9;
    border-radius:  8px;
    background-color: #ffff;
     
}

footer {
    width: 100%;
    min-height: 350px;
    background-color: #001E49;
}
 
.info {
    height: 300px;
    display: flex; 
     max-width: 1200px;
   
    justify-content: space-around;
    align-items: center;
   
   
    
}
#info-mark {
    width: 100px;
}


.mark-footer p {
    font-size: 13px;
    padding: 6px;
    
}



.info h3 {
    color: #0EA5E9;
    padding: 4px;
}

.info li {
    display: flex;
    align-items: center;
    list-style: none;
    color: #FAFAFA;
    font-size: 14px;
    opacity: 80%;
    padding:6px 2px 2px;
  
}


.info-bord{
   width: 95%;
   margin: 0 auto; 
   align-items: center;
   border-bottom: 1px solid #0EA5E9 ;
   opacity: 80%;
}

.contact i {
    color: #FAFAFA;
    background-color:  #0EA5E9;
    width: 15px;
    height: 15px; 
    padding: 2px;
    font-size: 9px;
    border-radius: 15px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 
.direct {
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 padding: 4px;
 font-size: 12px;
}



